.pe-btn {
  padding: 0.8rem;
  color: white;
  background-color: $primaryColor;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s all ease-in-out;
  border: none;
  line-height: 1;
  cursor: pointer;

  &:hover {
    background-color: lighten($primaryColor, 10%);
  }

  @include border-radius(0);
}

.pe-heading {
  font-weight: bold;
  color: $primaryColor;
  text-transform: uppercase;
}

.add-item-btn {
  img {
    height: 25px;
  }
}

.item-btn {
  padding: 2rem 4rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;

  img {
    height: 80px;
  }
}
