.form-label {
  font-family: 'Nexa Light';
}

.form-input {
  background-color: $formInputColor;
  color: black;
  padding: 0.75rem 1rem;
  height: auto;

  &:focus {
    background-color: $formInputColor;
  }

  &__prefix {
    position: absolute;
    left: 0.5rem;
    top: 0.7rem;
    line-height: 1;
    color: black;
  }
}

.form-submit-btn {
  border: none;
  padding: 0.8rem 1rem;
  text-transform: uppercase;
  background-color: $btnActiveColor;

  &:hover {
    color: white !important;
    background-color: lighten($btnActiveColor, 10%) !important;
  }

  &.white {
    background-color: white;
    color: #333;
    line-height: 1;

    svg {
      width: 16px;
      height: 16px;
      fill: #333;
    }

    &:hover svg path {
      fill: white;
    }
  }
}

.form-input,
.form-submit-btn,
.form-control,
.dropdown-toggle {
  &:focus,
  &:active {
    @include box-shadow(none !important);
  }

  @include border-radius(0);
}

.popup-modal {
  margin: 14.75rem auto;

  .modal-content {
    border-radius: 0;
    border: 0.5rem solid white;
  }
}

.image-slider-modal {
  .modal-body {
    padding: 0;
  }
}

.image-slider-modal {
  @media screen and (min-width: 576px) {
    max-width: 800px;
  }

  .pe-btn {
    position: absolute;
    padding: 0;

    svg {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .close-modal-btn {
    right: 0.5rem;
    top: 0.5rem;
  }

  .prev-btn,
  .next-btn {
    top: 50%;
    transform: translateY(-50%);
  }

  .prev-btn {
    left: 1rem;
  }

  .next-btn {
    right: 1rem;
  }

  .slick-arrow {
    display: none !important;
  }
}
