.form-label {
  font-family: 'Nexa Light';
}

.form-input {
  background-color: $formInputColor;
  color: black;
  padding: 0.75rem 1rem;
  height: auto;

  &:focus {
    background-color: $formInputColor;
  }

  &__prefix {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    line-height: 1;
    color: black;
  }
}

.form-submit-btn {
  border: none;
  padding: 0.8rem 1rem;
  text-transform: uppercase;
  background-color: $btnActiveColor;

  &:hover {
    color: white !important;
    background-color: lighten($btnActiveColor, 10%) !important;
  }

  &.white {
    background-color: white;
    color: #333;
    line-height: 1;

    svg {
      width: 16px;
      height: 16px;
      fill: #333;
    }

    &:hover svg path {
      fill: white;
    }
  }
}

.form-input,
.form-submit-btn,
.form-control,
.dropdown-toggle {
  &:focus,
  &:active {
    @include box-shadow(none !important);
  }

  @include border-radius(0);
}

.estimation-modal,
.reply-modal,
.auth-modal {
  padding: 0.5rem;
  background: white;
  margin: 14.75rem auto;

  .modal-content {
    border-radius: 0;
    border: 0;
  }
}
