.c-pointer {
  cursor: pointer !important;
}

.c-not-allowed {
  cursor: not-allowed !important;
}

.c-default {
  cursor: default !important;
}

.decoration-none {
  text-decoration: none !important;
}

.color-primary {
  color: $primaryColor !important;
}

.color-secondary {
  color: $secondaryColor !important;
}

.color-white {
  color: white !important;
}

.color-grey {
  color: grey !important;
}

.color-black {
  color: black !important;
}

.bg-primary {
  background-color: $primaryColor !important;
}

.bg-secondary {
  background-color: $secondaryColor !important;
}

.line-height-1 {
  line-height: 1 !important;
}

.resize-none {
  resize: none !important;
}

.pos-center {
  @include pos-center();
}

.pos-center-y {
  @include pos-center-y();
}

.-my-1 {
  margin-top: -0.25rem !important;
  margin-bottom: -0.25rem !important;
}

.-my-2 {
  margin-top: -0.5rem !important;
  margin-bottom: -0.5rem !important;
}

.-mt-1 {
  margin-top: -0.25rem !important;
}

.-mt-2 {
  margin-top: -0.5rem !important;
}

.deco-underline {
  text-decoration: underline !important;
}

.text-none {
  text-transform: none;
}
