.c-pointer {
  cursor: pointer !important;
}

.c-not-allowed {
  cursor: not-allowed !important;
}

.c-default {
  cursor: default !important;
}

.decoration-none {
  text-decoration: none !important;
}
