.c-pointer {
  cursor: pointer !important;
}

.c-not-allowed {
  cursor: not-allowed !important;
}

.c-default {
  cursor: default !important;
}

.decoration-none {
  text-decoration: none !important;
}

.color-primary {
  color: $primaryColor;
}

.color-white {
  color: white;
}

.back-primary {
  background-color: $primaryColor;
}

.back-secondary {
  background-color: $secondaryColor;
}

.resize-none {
  resize: none;
}
