html,
body,
html h1,
html h2,
html h3,
html h4,
html h5,
html h6,
html a,
html p,
html li,
input,
textarea,
span,
div,
html a {
  font-family: 'Nexa', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5em 0 1em;
}

a {
  color: inherit !important;

  &:hover {
    text-decoration: unset;
  }
}

button,
.btn,
textarea {
  outline: none !important;

  &:disabled {
    cursor: not-allowed;
    opacity: 1;
  }
}

input {
  outline: none;
  box-shadow: none;
}

.dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}

.dropdown-item {
  cursor: pointer;

  &:hover,
  &:active {
    background-color: darken(white, 10%);
    color: black;
  }
}

.pe-box {
  position: relative;
  background-color: $primaryColor;
  color: white;

  textarea {
    height: 150px;
  }

  .invalid-feedback {
    color: white;
  }
}

.pe-input {
  background-color: $primaryColor;
  color: white;
  border: none;
  padding: 0.5rem 0.6rem;

  &::placeholder {
    color: white;
  }
}

.dropdown-toggle,
.dropdown-menu,
.navbar-toggler {
  @include border-radius(0);
}

.navbar-toggler {
  padding: 0.25rem 0.55rem;

  .navbar-toggler-icon {
    width: 1rem;
    height: 1rem;
  }
}

.pe-dropdown {
  .dropdown-toggle {
    background-color: $primaryColor;
    border: none;

    &::after {
      right: 0.8rem;
      @include pos-center-y();
    }
  }

  &:focus,
  &:active {
    @include box-shadow(none !important);
  }

  @include border-radius(0);
}

.pe-btn {
  padding: 0.8rem;
  color: white;
  background-color: $primaryColor;
  font-size: inherit;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  transition: 0.2s all ease-in-out;
  border: none;
  line-height: 1;
  cursor: pointer;

  &:hover {
    color: white !important;
    background-color: lighten($primaryColor, 10%) !important;
  }

  @include border-radius(0);

  &.add-item-btn,
  &.item-btn {
    font-size: 1.2rem;
  }
}

.pe-btn-link {
  color: white;
  background-color: transparent !important;
  padding: 0;
  border: none !important;
  box-shadow: none !important;

  &:hover {
    color: lighten($primaryColor, 10%);
  }
}

.pe-heading {
  font-weight: bold;
  color: $primaryColor;
  text-transform: uppercase;
}

.loader-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  .loader {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50px;

    @include pos-center-x();

    path {
      fill: #f5a623;
    }
  }
}

.pe-swal,
.pe-swal-left {
  background-color: $primaryColor;
  border: 0.5rem solid white;

  @include border-radius(0);

  .swal-text {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .swal-button {
    color: $primaryColor;
    background-color: white;
    transition: 0.2s all ease-in-out;
    border: none !important;

    @include border-radius(0);

    &:hover {
      color: white !important;
      background-color: lighten($primaryColor, 10%) !important;
    }
  }

  &.add-item-alert .swal-text {
    text-align: left;
  }
}

.pe-swal-left .swal-text {
  text-align: left;
}

.pe-quill {
  .ql-toolbar {
    background: white;
  }

  .ql-container {
    min-height: 110px;
  }
}

.pe-textarea {
  * {
    margin: 0;
  }
}
