html,
body,
html h1,
html h2,
html h3,
html h4,
html h5,
html h6,
html a,
html p,
html li,
input,
textarea,
span,
div,
html a {
  font-family: 'Nexa', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5em 0 1em;
}

a {
  color: inherit !important;

  &:hover {
    text-decoration: unset;
  }
}

button,
.btn,
textarea {
  outline: none !important;

  &:disabled {
    cursor: not-allowed;
  }
}

.dropdown-item {
  cursor: pointer;

  &:hover,
  &:active {
    background-color: darken(white, 10%);
    color: black;
  }
}
