@mixin border-radius($args...) {
  border-radius: $args;
  -webkit-border-radius: $args;
  -moz-border-radius: $args;
}

@mixin transition($args...) {
  transition: $args;
  -webkit-transition: $args;
  -moz-transition: $args;
}

@mixin box-shadow($args...) {
  box-shadow: $args;
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
}

@mixin pos-center-x() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin pos-center-y() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin pos-center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin pos-full() {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

@mixin d-flex($alignItems: initial, $justifyContent: initial, $flexDirection: initial) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
  flex-direction: $flexDirection;
}
