@media screen and (min-width: 768px) {
  .logo img {
    width: 150px;
  }

  .item-image {
    height: 150px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .dashboard {
    .item-btn {
      padding: 2rem !important;
    }

    .item-btn img {
      height: 40px;
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    .logo img {
      width: 120px;
    }

    .navbar-collapse {
      margin-top: 1rem;
      text-align: right;
    }
  }

  .profile-nav-item {
    margin-bottom: 0.5rem;
  }

  .auth-page {
    .form-title {
      text-align: center;
    }
  }

  .dashboard {
    .add-item-btn,
    .item-btn {
      padding: 1rem 2rem;
      font-size: 0.9rem;

      img {
        height: 30px;
      }
    }

    .add-item-btn {
      padding-left: 1.5rem !important;

      svg {
        margin-right: 1.5rem !important;
      }
    }
  }

  .profile-page {
    .user-photo-wrapper {
      margin-top: 1rem;
    }
  }

  .item-wizard {
    width: 100% !important;

    .subcategory-dropdown {
      margin-top: 1rem;
    }

    .image-preview {
      width: 300px !important;
    }

    .image-description textarea {
      width: 150px !important;
    }
  }

  .item-list-page,
  .my-listing-page,
  .watchlist-page {
    .item-action {
      padding-left: 0;
      padding-right: 0;
      margin-top: 1rem;
    }

    .item-delete-btn {
      margin-top: 0.5rem;
    }
  }

  .item-detail-page {
    .item-image {
      padding-left: 1rem !important;
    }

    .right-panel {
      margin-top: 1rem;
    }
  }

  .popup-modal {
    margin: 5.75rem 1rem !important;
  }

  .pagination-wrapper {
    text-align: left !important;

    .pagination li a {
      padding: 0.2rem 0.5rem;
    }
  }
}
