html,
body,
html h1,
html h2,
html h3,
html h4,
html h5,
html h6,
html a,
html p,
html li,
input,
textarea,
span,
div,
html a {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5em 0 1em;
}

a {
  color: inherit !important;

  &:hover {
    text-decoration: unset;
  }
}

.dropdown-item {
  cursor: pointer;

  &:hover {
    background-color: darken(white, 10%);
  }
}

.form-input {
  @include border-radius(0);

  background-color: $formInputColor;
  color: black;
  padding: 1.5rem 1rem;

  &:focus {
    background-color: $formInputColor;
  }
}

.form-submit-btn,
.profile-nav-btn {
  @include border-radius(0);

  border: none;
  padding: 0.8rem 1rem;
  text-transform: uppercase;
}

.form-submit-btn {
  background-color: $btnActiveColor;

  &:hover {
    background-color: lighten($btnActiveColor, 10%);
  }
}

.profile-nav-btn {
  background-color: $btnInactiveColor;

  &:hover,
  &.active-link {
    background-color: $btnActiveColor;
  }
}
